@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  :root {
    --background: #e9f0ec;
    --foreground: #111111;
    --card: #ffffff;
    --card-foreground: #111111;
    --popover: #ffffff;
    --popover-foreground: #111111;
    --primary: #21906b;
    --primary-foreground: #ffffff;
    --secondary: #e9f0ec;
    --secondary-foreground: #21906b;
    --muted: #dbe6e1;
    --muted-foreground: #5c7069;
    --accent: #21906b;
    --accent-foreground: #ffffff;
    --destructive: #ef4444;
    --destructive-foreground: #f8fafc;
    --border: #dce3e0;
    --input: #dce3e0;
    --ring: #21906b;
    --radius: 0.75rem;

    /* Custom Colors */
    --navbar: #272727;
    --footer: #1a1a1a;
    --premium: #e5c466;
  }

  .dark {
    --background: #111111;
    --foreground: #f8fafc;
    /* ... other variables for dark mode if needed ... */
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-sans;
  }
}